{% extends 'index/base.html' %}
{% block titleblock %}{% endblock %}


{% block headerblock %}
    <!-- mobile header start -->
    <!-- mobile header start -->
    <div class="mobile-header d-lg-none d-md-block sticky black-soft">
        <!--mobile header top start -->
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-12">
                    <div class="mobile-main-header">
                        <div class="mobile-logo">
                            <a href="index.html">
                                <img src="../../static/index/assets/img/logo/logo.png" alt="Brand Logo">
                            </a>
                        </div>
                        <div class="mobile-menu-toggler">
                            <div class="mini-cart-wrap">
                                <a href="cart.html">
                                    <i class="fa fa-shopping-cart"></i>
                                    <div class="notification">0</div>
                                </a>
                            </div>
                            <button class="mobile-menu-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- mobile header top start -->
    </div>
    <!-- mobile header end -->
    <!-- mobile header end -->
{% endblock %}




{% block mainblock %}
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area breadcrumb-img bg-img" data-bg="../../static/index/assets/img/banner/shop.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <h3 class="breadcrumb-title">LOGIN REGISTER</h3>
                            <ul class="breadcrumb justify-content-center">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">Login Register</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->

    <!-- login register wrapper start -->
    <div class="login-register-wrapper section-padding">
        <div class="container">
            <div class="member-area-from-wrap">
                <div class="row">
                    <!-- Login Content Start -->
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap">
                            <h4>Sign In</h4>
                            <form action="#" method="post">
                                <div class="single-input-item">
                                    <input type="email" id="loginuser" placeholder="Email or Username" required/>
                                </div>
                                <div class="single-input-item">
                                    <input type="password" id="loginpwd" placeholder="Enter your Password" required/>
                                </div>
                                <div class="single-input-item">
                                    <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                        <div class="remember-meta">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="rememberMe">
                                                <label class="custom-control-label" for="rememberMe">Remember Me</label>
                                            </div>
                                        </div>
                                        <a href="#" class="forget-pwd">Forget Password?</a>
                                    </div>
                                </div>
                                <div class="single-input-item">
                                    <button class="btn btn-sqr" id="loginbtn">Login</button>
                                </div>
                            </form>
                        </div>

                    </div>
                    <!-- Login Content End -->

                    <!-- Register Content Start -->
                    <div class="col-lg-6">
                        <div class="login-reg-form-wrap sign-up-form">
                            <h4>Singup Form</h4>
                            <form action="#" method="post">
                                <div class="single-input-item">
                                    <input type="text" id="register_username" placeholder="Full Name" required/>
                                </div>
                                <div class="single-input-item">
                                    <input type="email" id="register_email" placeholder="Enter your Email" required/>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="password" id="register_password"
                                                   placeholder="Enter your Password"
                                                   required/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="single-input-item">
                                            <input type="password" id="register_repeatpassword"
                                                   placeholder="Repeat your Password" required/>
                                        </div>

                                    </div>
                                </div>

                                <div class="single-input-item">
                                    <div class="login-reg-form-meta">
                                        <div class="remember-meta">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="subnewsletter">
                                                <label class="custom-control-label" for="subnewsletter">Subscribe
                                                    Our Newsletter</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <div class="single-input-item">
                                    <button class="btn btn-sqr " id="register">Register</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <!-- Register Content End -->
            </div>
        </div>
    </div>
{% endblock %}
{% block view_model_block %}
{% endblock %}
{% block js_block %}
    <script>
        $(function () {
            $("#loginbtn").click(function (e) {
                e.preventDefault();
                var email = $("#loginuser").val();
                var password = $("#loginpwd").val()

                params = {
                    "email": email,
                    "password": password,
                };
                // 发起登录请求
                $.ajax({
                    url: '/login',
                    type: 'post',
                    data: JSON.stringify(params),
                    //mime type
                    contentType: "application/json",//上传类型
                    dataType: "json",//返回的类型
                    success: function (data) {
                        if (data.errno == "0") {
                            //  登录成功  刷新页面
                            window.location.href = '/'
                        } else {
                            alert(data.errmsg)
                        }

                    },
                    error: function (e) {
                        alert('网络不好，稍后再试')
                    }
                })
            })
            // TODO 注册按钮点击
            $("#register").click(function (e) {
                e.preventDefault();
                // 取到用户输入的内容
                var username = $("#register_username").val()
                var email = $("#register_email").val()
                var password = $("#register_password").val()
                var repeatpassword = $("#register_repeatpassword").val()
                // 发起注册请求
                var params = {
                    "username": username,
                    "email": email,
                    "password": password,
                    "repeatpassword": repeatpassword,
                }

                $.ajax({
                    url: "/register",
                    type: "post",
                    data: JSON.stringify(params),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        if (data.errno == "0") {
                            window.location.href = '/'
                        } else {
                            alert(data.errmsg)
                        }
                    },
                    error: function (e) {
                        alert('网络不好，注册失败')
                    }
                })


            })
        })
    </script>
{% endblock %}